body {
  font-family: Arial, sans-serif;
}

.pago-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 12px;
}

button:hover {
  background-color: #0056b3;
}

button#agregarPago {
  margin-left: 10px;
}

button[type="submit"] {
  background-color: #28a745;
}

button[type="submit"]:hover {
  background-color: #218838;
}


input[type="text"] {
  text-transform: uppercase; 
}

